# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Core/Gazebo.Core.Engine/Debug/*.*
Core/Gazebo.Core.Engine/Gazebo.Core.Engine.vcxproj.user
Gazebo.sdf
Simulator/Gazebo.Simulator.Interop/obj/*
Simulator/Gazebo.Simulator.Sequence/obj/*
Simulator/Gazebo.Simulator.UI/bin/*
Simulator/Gazebo.Simulator.UI/Gazebo.Simulator.UI.csproj.user
Simulator/Gazebo.Simulator.UI/obj/*
*.suo
Core/Gazebo.Core.Engine/bin/Debug/*
Simulator/Gazebo.Simulator.Interop/bin/*
Simulator/Gazebo.Simulator.Sequence/bin/*
Simulator/Gazebo.Simulator.UI/Gazebo.Simulator.UI/bin/*
Gazebo.opensdf
